@font-face {
    font-family: 'din';
    src: url('din1451engschrift-webfont.eot');
    src: url('din1451engschrift-webfont.eot?#iefix') format('embedded-opentype'),
                 url('din1451engschrift-webfont.woff') format('woff'),
                 url('din1451engschrift-webfont.ttf') format('truetype'),
                 url('din1451engschrift-webfont.svg#din_1451_engschriftregular') format('svg');
    font-weight: normal;
    font-style: normal;

}