<div>
    <div class="top">
        <div class="top-left">
            <div class="back icon-arrow-left"></div>
            <div class="info">
                <h3 class="year">Wine Year</h3>

                <h1 class="producer">Wine Producer</h1>

                <h1 class="name">Wine Name</h1>

                <h1 class="price"><span class="dollar">$</span>Wine Price</h1>
            </div>
        </div>
        <img class="wine-image" src="http://placehold.it/300x980" alt="Wine Image"/>
    </div>
    <div class="bottom">
        <div class="origin-card">
            <table class="full-width">
                <tr>
                    <td>
                        <h3>style</h3>

                        <h2 class="style">Wine Style</h2>
                    </td>
                    <td class="right" rowspan='2'>
                        <h3>from</h3>

                        <h2 class="region">Wine Region</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>grape</h3>

                        <h2 class="grape">Wine Grape</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="compare">
                        <div>compare to your taste profile</div>
                        <div class="icon-arrow-right">&nbsp;</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="taste-card">
            <div class="section">
                <h3>grape</h3>

                <h2 class="fruit-type-name">Fruit Type</h2>

                <h2 class="fruit-type-description">Description of Fruit Type</h2>
            </div>
            <div class="section">
                <h3>aromas/flavors</h3>
                <ul class="properties">
                    <li>
                        <h2>Sample Property</h2>
                    </li>
                </ul>
            </div>
            <table class="full-width">
                <tr class="section body">
                    <td><h3>body</h3></td>
                    <td>light</td>
                    <td>medium</td>
                    <td>heavy</td>
                </tr>
                <tr class="section dry-sweet">
                    <td><h3>dry/sweet</h3></td>
                    <td>dry</td>
                    <td>off dry</td>
                    <td>sweet</td>
                </tr>
                <tr class="section acidity">
                    <td><h3>acidity</h3></td>
                    <td>not acidic</td>
                    <td>moderate</td>
                    <td>fresh/lively</td>
                </tr>
                <tr class="section tannins">
                    <td><h3>tannins</h3></td>
                    <td>not tannic</td>
                    <td>moderate</td>
                    <td>gripping</td>
                </tr>
            </table>
        </div>
    </div>
</div>